<div class="card background-img padding-top mx-2">
    <img class="card-img" src="https://www.artic.edu/iiif/2/{{image_id}}/full/843,/0/default.jpg" alt="{{title}}">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <p class="card-title">{{title}}</p>
        <p class="card-subtitle mb-2">{{artist_title}}</p>
    </div>
</div>
<div class="row my-5 px-5">
    <div class="col-2 grey">
        <h5 class="card-title">{{artist_display}}</h5>
        <hr>
        <a href="" class="granate granatelink">SEE AUTHOR'S FILE</a>
    </div>
    <div class="col-6 text-center">
        <h2 class="granate mb-4">{{title}}</h2>
        {{#if provenance_text}}
        <p>{{provenance_text}}</p>
        {{else}}
        <p>{{thumbnail.alt_text}}</p>
        {{/if}}
    </div>
    <div class="col-2">
        <p>Date display</p>
        <p class="grey">{{date_display}}</p>
        <hr>
        <p>Technique</p>
        <p class="grey">{{medium_display}}</p>
        <hr>
        <p>Origin</p>
        <p class="grey">{{place_of_origin}}</p>
        <hr>
        <p>Dimensions</p>
        <p class="grey">{{dimensions}}</p>

    </div>
    <div class="col-2 grey">
        <h6>TAGS</h6>
        {{#each category_titles}}
        <a href="" class="button-tag granatelink">{{this}}</a>
        {{/each}}
    </div>
</div>

<div class="be-comment-block mx-5">
    {{!-- <h1 class="comments-title">Comments (3)</h1>
    <div class="be-comment">
        <div class="be-img-comment">
            <a href="blog-detail-2.html">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
            </a>
        </div>
        <div class="be-comment-content">
            <span class="be-comment-name">
                <a href="blog-detail-2.html">Cüneyt ŞEN</a>
            </span>
            <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                Nov 27, 2022 at 3:14am
            </span>
            <p class="be-comment-text">
                Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
            </p>
        </div>
    </div> --}}
    {{#if userNav}}
    <form class="form-block mt-5" id="form-comment" action="/comment/{{id}}" method="post">
        <div class="row">
            {{!-- <div class=" col-sm-6">
                <div class="form-group fl_icon">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <input class="form-input" type="text" placeholder="Your name">
                </div>
            </div>
            <div class=" col-sm-6 fl_icon">
                <div class="form-group fl_icon">
                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                    <input class="form-input" type="text" placeholder="Your email">
                </div>
            </div> --}}
            <div class="col-12">
                <div class="form-group">
                    <textarea class="form-input" required="" placeholder="Your text" name="description"></textarea>
                </div>
            </div>

        </div>
        <button class="btn btn-light" type="submit">Submit</button>
    </form>
    {{/if}}
</div>