<div class="padding-top">

    <h1>Edit user</h1>

    <form action="{{_id}}" method="post">
        <label for="">Username</label>
        <input type="text" name="name" value="{{name}}" placeholder="{{name}}">
        <label for="">email</label>
        <input type="text" name="email" value="{{email}}" placeholder="{{email}}">
        <label for="">Interests</label>
        <input type="text" name="interests" value="{{interests}}">
        <label for="">Interests</label>
        <input type="password" name="password" value="{{password}}">
        <button type="submit">Edit</button>
    </form>

</div>