<div class="container padding-top">
    <div class="user-profile ">
        <div class="row pt-5">
            <div class="col-md-3">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img src="{{user.imageUrl}}" alt="Avatar" class="avatar img-circle">
                    </div>
                    <div class="section">
                        <h3>About Me</h3>
                        <p>Name: {{user.username}}</p>
                        <p>Email: {{user.email}}</p>
                        <p>My interests: {{user.interests}}</p>
                    </div>
                    <div class="section">
                        <h3>Statistics</h3>
                        <p><span class="badge">{{favourites.length}}</span> Favourite artworks</p>
                        <p><span class="badge">12</span> Following</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-info-right">
                    <ul class="nav mt-3">
                        <li class="ml-2 mr-auto"><a class="favourite btn shadow " href="#favourites"
                                data-toggle="tab">FAVOURITES</a></li>
                        <li class="mr-2 ml-auto"><a class="following btn shadow" href="#following"
                                data-toggle="tab">FOLLOWING</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in show active" id="favourites">
                            <div class="row">
                                {{#each favourites}}
                                <div class="card mt-4 pt-3 ml-5 col-5" style="width: 18rem;">
                                    <a class="favourite-delete" href="/favourites/delete/{{id}}"><img
                                            src="/images/remove.png" alt="remove"></a>
                                    <a class="link-to-details" href="/artworks/details/{{artworkId}}">
                                        <img class="card-img-top"
                                            src="https://www.artic.edu/iiif/2/{{imageUrl}}/full/843,/0/default.jpg"
                                            alt="artwork img" class="media-object avatar">
                                        <div class="card-body">
                                            <p class="card-text text-center">{{title}}</p>
                                        </div>
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                            <div class="media user-follower">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar"
                                    class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Antonius<br><span class="text-muted username">@mrantonius</span></a>
                                    <button type="button" class="btn btn-sm btn-toggle-following pull-right"><i
                                            class="fa fa-checkmark-round"></i> <span>Following</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}